body {
    background: #2798B7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background: rgba(255, 255, 255, 0.3);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid gray;
    text-align: center;
    box-sizing: border-box; /* Ensure padding is included in width/height */
}

h2, label, p {
    color: #fff;
    margin: 8px 0;
}

input {
    width: calc(100% - 16px); /* Full width minus padding */
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
    display: block;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

button {
    background: #2798B7;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

button:hover {
    background: #1590B1;
}

#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    display: none;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center icon and temperature vertically */
    margin-right: 10px;
    color: white;
    text-align: center; /* Center text horizontally */
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px; /* Space between icon and temperature */
}

.hourly-item span {
    font-size: 16px; /* Adjust size of temperature text if needed */
}